<%- include('./includes/header.ejs') %>

<div class="container" style="@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap'); background-color: #fdfdfd;" >
  
    <div style="font-family: 'Sen', sans-serif;">
      
        <div
            style="
            background: #2b2d42;
            padding: 15px 0;
            text-align: center;
            "
        >
    <!--  <div style="text-align: center;">
            <img style="width: 100px;" src="cid:logo"  />
          </div> -->
            <div style="text-align: center; font-size: 1.5rem; font-weight: 800; letter-spacing: 4px; color: #fff;">E-Voting</div>
        </div>

        <div style="margin: .8rem 0 1rem 0; font-size: 17px; font-weight: 500; color: #000;">
            Hi <%= username %>
        </div>
      

        <div 
            style="
                line-height: 23px;
                font-size: 17px;
                font-weight: 600;
                color: rgb(48, 48, 48);
            "
        >
            <p><%= message %></p>
        </div>

    
        <div
            style="
            background: #2b2d42;
            padding: 15px 0;
            text-align: center;
            color: #fff;
            font-size: 17px; 
            font-weight: 500;
            "
        >
            <p>Thank You!</p>
        </div>
    </div>
</div>

<%- include('./includes/footer.ejs') %>